<ion-content>
  <!-- [ngClass]="{ 'dark-theme': isThemeDark | async }"-->
  <div>
    <!--<mat-slide-toggle
      [checked]="isThemeDark | async"
      (change)="toggleDarkTheme($event.checked)"
    ></mat-slide-toggle>-->
    <mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8"
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="tableDrop($event)"
    >
      <ng-container
        *ngFor="let column of displayedColumns; let i = index"
        [matColumnDef]="column"
        
      >
        <mat-header-cell
          *matHeaderCellDef
          [resizeColumn]="true"
        [index]="i"
          (contextmenu)="onContextMenu($event, column); $event.preventDefault()"
        >
          <mat-label id="sort-icon" mat-sort-header cdkDrag cdkDragLockAxis="x">
            {{ column }}
          </mat-label>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element[column] }}</mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row >
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
    ></div>

    <mat-menu #contextMenu="matMenu">
      <ng-template
        *ngFor="let column of displayedColumns"
        matMenuContent
        let-column="column"
      >
        <button
          mat-menu-item
          (click)="delete(column)"
          [disabled]="this.displayedColumns.length <= 1"
        >
          Remove Column
        </button>
        <button
          mat-menu-item
          [matMenuTriggerFor]="deletedColumn"
          [disabled]="this.deletedColumns.length == 0"
        >
          Insert Column
        </button>
      </ng-template>
    </mat-menu>
    <mat-menu #deletedColumn="matMenu">
      <button
        mat-menu-item
        *ngFor="let delColumn of deletedColumns"
        (click)="addColumn(delColumn)"
      >
        {{ delColumn }}
      </button>
    </mat-menu>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="collectionName"></ion-input>
        <ion-button (click)="changeCollection()">Change collection</ion-button>
      </ion-item>
    </ion-list>
    <button mat-button (click)="resetView()">Reset View</button>
  </div>
</ion-content>
