@import "./src/assets/styles/material-theme.scss";
table {
  width: 100%;
}
.deleteButton {
  padding-right: 3px;
  padding-left: 3px;
  --color-hover: red;
}

body {
  margin: 0px;
  padding: 0px;
}
